h1{
    color: #382603;  
}
img {
  width: 80%;
  min-width: 375px;
  height: auto;
  display: block;
  margin: 30px auto;
}

.block {
  color: #382603; 
}

body {
  min-width: 375px;
  width: 50%;
  margin: 0 auto;
}

* {
  font-family: "Roboto", sans-serif;
}
